body{
    background-color: silver;
}

.repaso{
    background-color: #DCDCDC;
    border: 2px solid #696969;
}

.respuesta{
    background-color: #CEE7FF;
}

.cambio{
    color: salmon;
    font-family: fantasy;
    text-shadow: 2px 2px 2px black;
}

.fondo{
    background-image: url(http://placeimg.com/640/480/animals);
    width: 500px;
    height: 400px;
    transition: 3s;
    border-radius: 10px;
}

.estilo{
    background-image: url(http://placeimg.com/640/480/food);
    width: 500px;
    height: 400px;
    transition: 3s;
    border-radius: 10px;
}